@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #f8f3fd;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Oxygen';
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #38a75d;
	background-color: #38a75d;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    font-size: 28px;
    font-weight: normal;
}

.container {
	background-color: #fff;
	border-radius: 25px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #3da330;
	background: -webkit-linear-gradient(to right, #3da330, #38a75d);
	background: linear-gradient(to right, #3da330, #38a75d);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.spinner {
    --color: #38a75d;
    --fade-color: #38a75d80;
    --scale: 1;
    --x-speed: 1;
	position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 46px;
    z-index: 2;
    width: 46px;
    height: 46px;
    transform: scale(var(--scale)) rotateZ(0);
    animation: ps-spin calc(15s / var(--x-speed)) linear infinite
}

.spinner-inactive {
	display: none;
	visibility: hidden;
}

@keyframes ps-spin {
    from {
        transform: scale(var(--scale)) rotateZ(0);
    }
    to {
        transform: scale(var(--scale)) rotateZ(-360deg);
    }
}

.spinner span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.spinner span::before,
.spinner span::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%) scale(.3);
    background-color: rgba(var(--color) / 50%);
    border-radius: 50%;
    animation: ps-spinner-scale calc(1.2s / var(--x-speed)) linear infinite
}

@keyframes ps-spinner-scale {
    0% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
    25% {
        background-color: var(--color);
        transform: translateY(-50%) scale(1);
    }
    80% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
    100% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
}

.spinner span::before {
    left: 0;
}

.spinner span::after {
    right: 0;
}

.spinner span:first-of-type {
    transform: rotateZ(-45deg);
}

.spinner span:last-of-type {
    transform: rotateZ(45deg);
}

.spinner span:nth-of-type(2) {
    transform: rotateZ(90deg);
}

.spinner span:nth-of-type(3)::after {
    animation-delay: calc(0.15s / var(--x-speed));
}
.spinner span:last-of-type::after {
    animation-delay: calc(.3s / var(--x-speed));
}
.spinner span:nth-of-type(2)::after {
    animation-delay: calc(.45s / var(--x-speed));
}
.spinner span:first-of-type::before {
    animation-delay: calc(.6s / var(--x-speed));
}
.spinner span:nth-of-type(3)::before {
    animation-delay: calc(.75s / var(--x-speed));
}
.spinner span:last-of-type::before {
    animation-delay: calc(.9s / var(--x-speed));
}
.spinner span:nth-of-type(2)::before {
    animation-delay: calc(1.05s / var(--x-speed));
}

.login-container {
	opacity: 1;
}

.low-opacity {
	opacity: 0.3;
}