body {
    background-color: #e5e5e5;
}

.container .ql-editor {
    width: 8in; 
    height: calc(100vh - 69px);
    margin: 1em;
}

.ql-container {
    background-color: white;
}
.ql-toolbar {
    background-color: white;
}
